<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Evento</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h1 th:text="${nome}" />
    <table>
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Área de Concentação</th>
            <th>Instituição Organizadora</th>
            <th>Excluir</th>
        </tr>
        <tr th:each="evento: ${evento}">
            <td th:text="${evento.nome}" />
            <td th:text="${evento.sigla}" />
            <td th:text="${evento.areaConcentracao}" />
            <td th:text="${evento.instituicaoOrganizadora}" />
            <td> <button><a th:text="'Excluir'" th:href="@{excluir/{id}(id=${evento.Id})}" /></button> </td>
        </tr>
    </table>
    <br>

    <h1 th:if="${edicoes}">Edições</h1>
    <br>
    <table th:if="${edicoes}">
        <tr>
            <th>Número</th>
            <th>Ano</th>
            <th>Data de Início</th>
            <th>Data Fim</th>
            <th>Cidade Sede</th>
            <th>Estado</th>
            <th>Excluir</th>
        </tr>
        <tr th:each="edicao: ${edicoes}">
            <td><a th:text="${edicao.numero}" th:href="@{/edicaoevento/{id}(id=${edicao.Id})}" /></td>
            <td th:text="${edicao.ano}" />
            <td th:text="${edicao.dataInicio}" />
            <td th:text="${edicao.datafim}" />
            <td th:text="${edicao.cidadeSede}" />
            <td th:text="${edicao.estado}" />
            <td> <button><a th:text="'Excluir'" th:href="@{/edicaoevento/excluir/{id}(id=${edicao.Id})}" /></button>
            </td>
        </tr>
    </table>
    <br>
    <button><a href="index">Voltar</a></button><br>
    <script src="" async defer>
    </script>
</body>

</html>