<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resultado</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <h1>Resultados da Pesquisa</h1>
    <br>

    <form method="GET" action="/evento/busca">
        <label for="termo">Busca Pelo Nome</label>
        <input type="text" name="termo" />
        <input type="submit" value="Perquisar" />
    </form>
    <br>

    <table>
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Área de Concentação</th>
            <th>Instituição Organizadora</th>
        </tr>
        <tr th:each="evento: ${eventos}">
            <td><a th:text="${evento.nome}" th:href="${evento.Id}" /></td>
            <td th:text="${evento.sigla}" />
            <td th:text="${evento.areaConcentracao}" />
            <td th:text="${evento.instituicaoOrganizadora}" />
        </tr>
    </table>
    <br>
    <button><a href="novo/">Criar Novo Evento</a></button><br>
    <button><a href="index/">Voltar</a></button><br>

    <script src="" async defer></script>
</body>

</html>